<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApTicket</key>
	<string>Trusted</string>
	<key>DataFailedToReport</key>
	<array/>
	<key>Entitlements</key>
	<array/>
	<key>FailureData</key>
	<array>
		<dict>
			<key>bbpc</key>
			<dict>
				<key>LiveInstance</key>
				<string>00000068-D20306DC90FBFE0F00000000</string>
				<key>WarningMessage</key>
				<string>Key is not required to seal</string>
			</dict>
		</dict>
		<dict>
			<key>eCfg</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
				<key>WarningMessage</key>
				<string>Key is not required to seal</string>
			</dict>
		</dict>
		<dict>
			<key>rCfg</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
				<key>WarningMessage</key>
				<string>Key is not required to seal</string>
			</dict>
		</dict>
	</array>
	<key>FailureProperties</key>
	<array>
		<dict>
			<key>eeid</key>
			<dict>
				<key>FailureReason</key>
				<string>PropertyMismatched</string>
				<key>LiveProperty</key>
				<string>89049032005008882600031540031630</string>
				<key>SealedProperty</key>
				<string>(NULL)</string>
			</dict>
		</dict>
	</array>
	<key>SealDate</key>
	<string>04/09/2019 02:37:57 GMT</string>
	<key>VerifiedData</key>
	<array>
		<dict>
			<key>seal</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>bbcl</key>
			<dict>
				<key>LiveInstance</key>
				<string>00000068-D20306DC90FBFE0F00000000</string>
			</dict>
		</dict>
		<dict>
			<key>bbpv</key>
			<dict>
				<key>LiveInstance</key>
				<string>00000068-D20306DC90FBFE0F00000000</string>
			</dict>
		</dict>
		<dict>
			<key>scrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>pcrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>CtCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>GHC9274MRJBKQ5R6H+18083122572170047092767193</string>
			</dict>
		</dict>
		<dict>
			<key>IfCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>0EBB812B73D0</string>
			</dict>
		</dict>
		<dict>
			<key>HmCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>GHC9274MRJBKQ5R6H+18083122572170047092767193-0EBB812B73D0</string>
			</dict>
		</dict>
		<dict>
			<key>pcic</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pcii</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pcvc</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pcvi</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pcve</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pbas</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pmpc</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pdcl</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>preg</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>prf1</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>prf2</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>psd1</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>psd2</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pwcl</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>psnv</key>
			<dict>
				<key>LiveInstance</key>
				<string>50610BACC5851765759315EE06086C3615260E0C</string>
			</dict>
		</dict>
		<dict>
			<key>pfcl</key>
			<dict>
				<key>LiveInstance</key>
				<string>FWP9305APZNJJ7Y42</string>
			</dict>
		</dict>
		<dict>
			<key>pspc</key>
			<dict>
				<key>LiveInstance</key>
				<string>00000001-61E384BBEF38E98B2E5758FB308E0EEB</string>
			</dict>
		</dict>
		<dict>
			<key>appv</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>vcrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>F8Y930302DVM6YN5Y-43794100</string>
			</dict>
		</dict>
		<dict>
			<key>ShMC</key>
			<dict>
				<key>LiveInstance</key>
				<string>B2.02-000000000DD094860F38BD0CE4EC4024</string>
			</dict>
		</dict>
		<dict>
			<key>ShSC</key>
			<dict>
				<key>LiveInstance</key>
				<string>B2.02-000000000DD094860F38BD0CE4EC4024-00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>fCfg</key>
			<dict>
				<key>LiveInstance</key>
				<string>00008030-000C50211110802E</string>
			</dict>
		</dict>
		<dict>
			<key>lcrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>80DF2113C7B6B8</string>
			</dict>
		</dict>
		<dict>
			<key>rcrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>00002006-006400E07C449038</string>
			</dict>
		</dict>
		<dict>
			<key>rMCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>00002006-006400E07C449038</string>
			</dict>
		</dict>
		<dict>
			<key>rSCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>00002006-006400E07C449038</string>
			</dict>
		</dict>
		<dict>
			<key>tcrt</key>
			<dict>
				<key>LiveInstance</key>
				<string>C3F9354K6CQKV28A2-D50AB5F4903E</string>
			</dict>
		</dict>
		<dict>
			<key>GpCl</key>
			<dict>
				<key>LiveInstance</key>
				<string>C3F9354K6CQKV28A2-D50AB5F4903E</string>
			</dict>
		</dict>
	</array>
	<key>VerifiedProperties</key>
	<array>
		<dict>
			<key>SrNm</key>
			<dict>
				<key>LiveProperty</key>
				<string>DNPZ96K3N72L</string>
			</dict>
		</dict>
		<dict>
			<key>tsid</key>
			<dict>
				<key>LiveProperty</key>
				<string>A6C121DD17D5BF01</string>
			</dict>
		</dict>
		<dict>
			<key>BMac</key>
			<dict>
				<key>LiveProperty</key>
				<string>88:64:40:7e:f8:ee</string>
			</dict>
		</dict>
		<dict>
			<key>drp#</key>
			<dict>
				<key>LiveProperty</key>
				<string>433346393335344B3643514B56323841322B4C333332414634323939353741364A31322B43334639333633454147414B57505041322B435835393334343033554B4E324E3341442B34394432314C4341485730584D31455437562B464D5839333435303050314B58473341442B504E4D38393834</string>
			</dict>
		</dict>
		<dict>
			<key>seid</key>
			<dict>
				<key>LiveProperty</key>
				<string>042107F392548001919810335630168339763B609E06BDAE</string>
			</dict>
		</dict>
		<dict>
			<key>bat#</key>
			<dict>
				<key>LiveProperty</key>
				<string>F8Y930302DVM6YN5Y</string>
			</dict>
		</dict>
		<dict>
			<key>meid</key>
			<dict>
				<key>LiveProperty</key>
				<string>35397410051936</string>
			</dict>
		</dict>
		<dict>
			<key>mlb#</key>
			<dict>
				<key>LiveProperty</key>
				<string>F3X935402FVL73W4</string>
			</dict>
		</dict>
		<dict>
			<key>WMac</key>
			<dict>
				<key>LiveProperty</key>
				<string>88:64:40:73:b1:8a</string>
			</dict>
		</dict>
		<dict>
			<key>imei</key>
			<dict>
				<key>LiveProperty</key>
				<string>353974100519361</string>
			</dict>
		</dict>
		<dict>
			<key>arc#</key>
			<dict>
				<key>LiveProperty</key>
				<string>GH7931554WWKPJQ89</string>
			</dict>
		</dict>
		<dict>
			<key>nuid</key>
			<dict>
				<key>LiveProperty</key>
				<string>0b20024a00403e4e</string>
			</dict>
		</dict>
		<dict>
			<key>ime2</key>
			<dict>
				<key>LiveProperty</key>
				<string>353974100312114</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
